<!DOCTYPE html>
<head>
    <link rel ="stylesheet" type = "text/css" href="public/css/achiv.css">
    <?php include "extra/configuration.html"?>
    
</head>

<body>
    <div class="base_cointainer">
        <nav>
            <?php include "extra/header.html"?>
        <!-- </nav> -->

        <main>
            
            <div class="group_grey_tomato">
                <img class="grey_tomato" src ="public/img/achivement_page/grey_tomato.svg">
                <img class="grey_tomato" src ="public/img/achivement_page/grey_tomato.svg">
                <img class="grey_tomato" src ="public/img/achivement_page/grey_tomato.svg">

            </div>

            <div class="achivment_group">
                <input name="achivement" type = "text" placeholder="osiągnięcie" >
                <input name="achivement" type = "text" placeholder="osiągnięcie" >
                <input name="achivement" type = "text" placeholder="osiągnięcie" >

            </div>
                          
        </main>
        <?php include "extra/footer.html"?>

    </div>
                

</body>