<!DOCTYPE html>
<head>
    <link rel ="stylesheet" type = "text/css" href="public/css/login_page.css">
    <?php include "configuration.html"?>
    
</head>
    <div class="cointainer">
       <div class = "left-side">

            <div class="title">Pomidoro</div>

            <div class="logo-container">
                <div class="tomato">
                    <img src ="public/img/tomato.svg">
                </div>

                <div class="watch">
                    <img src="public/img/login_page/watch.svg">
                </div>

            </div>


       </div> 




        <!-- <div class="line">
            <img src="../img/login_page/line.svg">
        </div> -->

        <div class="login-container">
            <form>
                <div class="login-field">
                    <input name="login" type = "text" placeholder="login" >

                </div>
                <div class="password-field">
                    <input name="password" type="password" placeholder="password" >
                </div>


                <button>zaloguj</button>
            </form>

        </div>

    </div>