<!DOCTYPE html>
<head>
    <link rel ="stylesheet" type = "text/css" href="public/css/login_page.css">
    <?php include "extra/configuration.html"?>
    
</head>
<body>
    <div class="cointainer">
       <div class = "left-side">

            <div class="title">Pomidoro</div>

            <div class="logo-container">
                <div class="tomato">
                    <img src ="public/img/tomato.svg">
                </div>

                <div class="watch">
                    <img src="public/img/login_page/watch.svg">
                </div>

            </div>


       </div> 

        <div class="login-container">
            <form>
                <div class="login-field">
                    <input name="login" type = "text" placeholder="login" >

                </div>
                <div class="password-field">
                    <input name="password" type="password" placeholder="password" >
                </div>

                <a href="timer">
                    <button title="zaloguj">zaloguj</button>
                </a>
                
            </form>

        </div>

    </div>

</body>