<!DOCTYPE html>
<head>
    <?php include "extra/configuration.html"?>
    <link rel ="stylesheet" type = "text/css" href="public/css/statics.css">
    
</head>

<body>
    <div class="base_cointainer">
        <nav>
        <?php include "extra/header.html"?>
        <!-- </nav> -->

        <main>
            
            <img class="diagram" src="public/img/statystic_page/diagram.svg">
               
            
        </main>


        <?php include "extra/footer.html"?>
        
    </div>
                

</body>
