<!DOCTYPE html>
<head>
    <link rel ="stylesheet" type = "text/css" href="../style.css">
    <title>Pomidoro</title>
    <!-- ikona  -->
    <link rel="shortcut icon" href="../img/tomato.svg">

    <!-- import czcionki -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

</head>
    <div class="cointainer">


        <div class="logo-container">
            <div class="tomato">
                <img src ="../img/tomato.svg">
            </div>

            <div class="watch">
                <img src="../img/login_page/watch.svg">
            </div>

        </div>

        <div class="line">
            <img src="../img/login_page/line.svg">
        </div>

        <div class="login-container">
            <form>
                <div class="login-field">
                    <input name="login" type = "text" placeholder="login" >

                </div>
                <div class="password-field">
                    <input name="password" type="password" placeholder="password">
                </div>

                <button>zaloguj</button>
            </form>

        </div>

    </div>